<div class = "container">
<div>
  <h2><%= @list.name %> </h2>
</div>
 <ul style="list-style: none;">
</div>

  </ul>
<div class = "container">
  <%= link_to "gp back to the lists", lists_path %>
</div>
