.container-item {

  justify-content: space-evenly;
  display: flex;
  margin: 1em;
  width: 65%;
  padding-left: 20px;
}

.form-container {
  width: 35%;
  margin-top: 20px;
  justify-content: center;
  padding: 10px;
}

.main-container {
  display:flex;
  justify-content:space-around;
  background-color: #b1b2a6;
}

#new_list {
  width: 90%;
  justify-content: center;
}
