.avatar-bordered-follow {
  height: 400px;
  width: 300px;
}

.top-image {
  width: 100%;
}

.list-container {
  margin-top: 30px;
}

.bookmark-container {
  display:flex;
  width: 95%;
}

.movie-cards {
  display:flex;
  flex-direction: row;
  margin: 50px;
  justify-content: space-between;
  box-shadow: 10px 5px 5px silver;

}

.movie-poster {
  width: 20%;
}

.movie-description {
  width: 70%;
  color:white;
}

.list-nav {
  position: relative;
}

.list-name {
  position: absolute;
  top: 50%;
  left: 50%;
}

.fa-star {
  color: gold;
  font-size: 1.5em;
}
.fa-star-o {
  color: white;
  border-color:black;

}

.add-button {
  background-color:silver;
  width: 120px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 0 auto;
  margin-top: 5px;
}

.link {
  background-color:silver;
  width: 120px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 auto 0;
}
